@font-face {
	font-family: "CursiveFont";
	src: url("../fonts/Caveat/Caveat-VariableFont_wght.ttf");
}

body {
	margin: 1%;
	padding: 1%;
	font-size: 150%;
	font-family: 'Trebuchet MS', sans-serif;
}

h1 {
	font-size: 2em;
	font-weight: bold;
}


.active {
	background: white;
	text-transform: uppercase;
	text-align: center;
}

.main-point {
	font-weight: bold;
}

img {
	height: 300px;
	width: auto;
	padding: 25px;
	border-radius: 50px;
	margin: 10px;
}

h2 {
	font-size: 1em;
}

p, h1, h2 {
	padding: 10px;
}

a {
	text-decoration: none;
}

a:visited {
	color: blue;
}

h2.quote {
	font-family: "CursiveFont", cursive;
	font-size: 150%;
	font-weight: normal;
}

p.fast-facts {
	font-family: "CursiveFont", cursive;
	font-size: 150%;
}

li.coursename {
	font-weight: bold;
}

.enrolled {
	color: orangered;
}

nav li {
	background-color: #bbff4d;
	padding: 10px;
	width: 25%;
	border: 1px solid black;
	border-radius: 50px;
	text-align: center;
	display: inline-block;
	width: 20%;
}